@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
     padding: 0;
     margin: 0;
     box-sizing:border-box;
}

html{
     font-size: 62.5%;
     /* 1rem =10px */
}


body{
     height: 100vh;
     width: 100%;
     background-color: hsl(212, 45%, 89%); 
     display: grid;
     place-items: center;    
}

.main-container{
     width: 20%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     background-color: hsl(0,0%,100%);
     padding: 1.5rem 0.5rem;
     border-radius: 1.5rem;
     -webkit-border-radius: 1.5rem;
     -moz-border-radius: 1.5rem;
     -ms-border-radius: 1.5rem;
     -o-border-radius: 1.5rem;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-image{
     width: 90%;
     height: auto;
     /*display: block;
     margin: 0 auto;
     */border-radius: 1.2rem;
     -webkit-border-radius: 1.2rem;
     -moz-border-radius: 1.2rem;
     -ms-border-radius: 1.2rem;
     -o-border-radius: 1.2rem;
}

.info,.des{
     font-family: "Outfit", sans-serif;
     text-align: center;
     padding:0 2rem;

}
.info{
     font-size: 1.7rem;
     font-weight: 700;
     padding-top: 2rem;
     padding-bottom: 1.5rem;
}
.des{
     font-size: 1.3rem;
     font-weight: 400;
     color: hsl(216, 15%, 48%);
     padding-bottom: 1rem;
}

@media screen and (min-width: 1440px) {
     html{
          font-size: 68.75%;
     }
   }

@media screen and (max-width:375px) {
     html{
          font-size: 68.75%;
     }
     .main-container{
          width:80%;
     }    
}


